@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--Slate-300);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 320px;
  height: 499px;
  padding: 16px;
  padding-bottom: 40px;
  background-color: var(--White);
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 4.77%);
}

.qr-image {
  width: 288px;
  height: 288px;
  background-color: #2c7dfa;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 0 16px;
}

.main-sub {
  width: 256px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  color: var(--Slate-900);
}

.note {
  width: 100%;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--Slate-500);
}
